<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <form action="/signup" method="POST">
        <h1 style="color: red;">Signup</h1>
      <label>Username:</label>
      <input type="text" name="username" required /><br />
      <label>Password:</label>
      <input type="password" name="password" required /><br />
      <button type="submit">Signup</button>
    
    <p>Already have an account? <a href="/login">Login here</a></p>
    </form>
  </body>
</html>
